version: 2.1

orbs:
    node: circleci/node@4.3.0

jobs:
    deploy-stage:
        docker:
            - image: circleci/node:lts
        steps:
            - checkout
            - run:
                  name: install
                  command: |
                      yarn install
            - restore_cache:
                  name: Restore Next.js build cache
                  key: next-cache-{{ checksum "yarn.lock" }}
            - run:
                  name: deploy Next.js
                  command: |
                      yarn deploy

workflows:
    version: 2
    next-deploy:
        jobs:
            - deploy-stage:
                  filters:
                      branches:
                          only:
                              - master
                  context: kormelon
