@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400&display=swap'); /* h 태그 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

#content {
  width: 100%;
  min-height: 300px;
  overflow-wrap: break-word;
  font-size: 0.91rem;
  font-family: 'Noto Sans KR', serif;
  font-weight: 300;
  color: #212729;
  line-height: 1.55em;
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-title {
  margin-top: 0.9em;
  margin-bottom: 0.6em;
  padding-bottom: 0.9em;
  border-bottom: 1px dashed #dbdbdc;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3rem;
  line-height: 3rem;
}

#content h1 {
  position: relative;
  font-size: 1.5rem;
  margin: 1em 0;
  font-family: 'Nanum Myeongjo', serif;
}

/* 
#content h1::after {
  height: 1px;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom: 2px solid #dbdbdb;
} */

#content blockquote {
  border-left: 2px solid #333;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5px 0;
}

#content a:hover {
  color: #1890ff;
}

#content pre {
  font-family: 'Fira Code', monospace;
  letter-spacing: -0.06em;
}

#content img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  max-height: 500px;
  object-fit: contain;
}

h2,
h3,
h4 {
  font-family: 'Nanum Myeongjo', serif;
  margin: 0;
  padding: 0;
}

content p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 2em;
  font-size: 15px;
}
