/* basic */
.hljs {
  padding: 1em;
  color: #45bce7;
  background-color: #17181b !important;
  box-shadow: 2px 2px 4px #212227;
}

/* const, let, etc */
.hljs-keyword {
  color: #a87afd;
}

/*  null, undefined, boolean .. etc */
.hljs-literal {
  color: #539bff;
}

.hljs-function {
  color: #45bce7;
}

/*  (a : any, b: any) */
.hljs-params {
  color: #539bff;
}

/* class name or function name */
.hljs-title {
  color: #e7b247;
}

/* css selector Only css */
.hljs-selector-class {
  color: #e7b247;
}

.hljs-property {
  color: #fcc14c;
}

.hljs-comment {
  color: #6d9144;
  font-weight: bold;
}

.hljs-string {
  color: #f49822;
}

.hljs-number {
  color: #a2d468;
}

.hljs-built_in {
  color: #fcc14c;
}

.hljs-regexp {
  color: #cf4856;
}
