/* basic */
.hljs {
  margin: 8px 0;
  padding: 10px 8px;
  color: #45bce7;
  background-color: #212227 !important;
  box-shadow: 2px 2px 4px #212227;
}

/* const, let, etc */
.hljs-keyword {
  color: #a87afd;
}

/*  null, undefined, boolean .. etc */
.hljs-literal {
  color: #539bff;
}

/*  (a : any, b: any) */
.hljs-params {
  color: #539bff;
}

/* class name or function name */
.hljs-title {
  color: #e7b247;
}

/* css selector Only css */
.hljs-selector-class {
  color: #e7b247;
}

.hljs-comment {
  color: #6d9144;
}

.hljs-string {
  color: #f49822;
}

.hljs-number {
  color: #a2d468;
}

.hljs-built_in {
  color: #fcc14c;
}

.hljs-regexp {
  color: #cf4856;
}
