@import '~antd/dist/antd.css';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400&display=swap'); /* h 태그 */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', Sans-serif, -apple-system;
  font-size: 14px;
  font-weight: 400;
  color: #212729;
  line-height: 1.55em;
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__container {
  font-family: 'Nanum Myeongjo', serif;
}

/* .hljs-string {
  color: #b97b00;
}

.hljs-variable {
  color: #b93d3d;
}

.hljs-built_in {
  color: #6b6860;
}

.hljs-comment {
  color: rgba(117, 117, 117, 0.7);
}

.hljs-attribute {
  color: #00bce2;
}

.hljs-tag {
  color: #333;
} */
